@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');
*{
    margin:0;
    padding:0;
    font-size:30px;
    font-family: 'DM Sans', sans-serif;
}
body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

p{
    color:rgb(115, 250, 149);
    background-image: url('Twitter background/Background Logo.png');
}
