

*{
    margin:0;
    overflow:hidden;
    box-sizing: border-box;
    border-style: none;
    font-size:23px;
}

body{
    min-height:100vh;
    background-image:linear-gradient(90deg, #7d5fff, #7158e2) ;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

div.search{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:11px 16px 11px 16px;
    background-color:#fafafa;
}

.search > *{
     background-color:#fafafa;
}
.search button{
    cursor:pointer;
}

.search button:focus{
    outline:none;
}

.search input{
    display:none;
    outline:none;
}

.search.show-bar input{
    display:inline-block;
    transition:width 0.35s ease-in;
    width: 200px;
}
