@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    margin:0;
}
body{
    font-family: 'Lato',sans-serif;
    overflow-x:hidden;
    margin:0;
    padding:0;
    border:0;
    background-color: #ff7979ce;
}

.container{
    box-sizing:border-box;
    min-height:100vh;
    background-color: antiquewhite;
    padding-top:50px;

}

.container button{
    border-style: none;
    font-size:30px;
    background-color:transparent;
}

.container button i{
    color:#fafafa;
}

.circle-container ~ *{
    padding:40px;
}

.circle-container{
    position:fixed;
    z-index:100;
    top:-100px;
    left:-100px;
}

.container.show-nav{
    transform-origin: top left;
    transform:rotate(-20deg);
}

.container.show-nav .circle{
    transition:transform 0.35s ease-in;
    transform: rotate(-90deg);
}

.circle{
    width:200px;
    height:200px;
    border-radius:50%;
    background-color:#ff7979;
}

.circle button{
    position:absolute;
    z-index:200;
    
    width:200px;
    height:200px;

    top:20%;
    left:20%;

}

.show-nav button#open{
    transform:scaleX(0.3);
    
}

.circle button#close{
    left:80%;
    transform: rotate(90deg);
    transform-origin: top left;
}

.circle button i{
    cursor:pointer;
    text-align:center;
}

.content{
    max-width:80%;
    margin:auto;
}
p,
h1,
h3,
img{
    margin-top:10px;
}

.content img{
    max-width:100%;
    height:auto;
}

.nav.nav-slide{
    display:block;
}

.nav-slide li:nth-child(1){
    transition:transform 0.35s ease-in;
    transform:translateX(95%);
}
.nav-slide li:nth-child(2){
    transition:transform 0.35s ease-in;
    transform:translateX(100%);
}

.nav-slide li:nth-child(3){
    transition:transform 0.35s ease-in;
    transform:translateX(105%);
}


.nav{
    transform:translateX(-100%);
    display:none;
    left:0;
    position:fixed;
    bottom:60px;
    z-index:100;
}

.nav ul li{
    list-style: none;
    text-transform: uppercase;
    padding:20px;
    font-size:20px;
    color:#fafafa;
    
}

.nav ul li i{
    padding-right:5px;
}