*{
    text-decoration: none;
    border:none;
    list-style: none;
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    background-color: #fafafa;
}

body{
    margin:0;
    overflow-x:hidden;
    background-color:#333;
}

.container{
    padding:50px;
    margin-bottom:90px;
    background-color: #fafafa;
    width:100vw;
    min-height:100vh;
}
.container.show-nav{
    transform:rotate(-20deg);

}
.container.show-nav .circle{
    transform:rotate(-70deg);
}

.circle-container{
    position:fixed;
    top:-100px;
    left:-100px;  
}

.circle{
    width:200px;
    height:200px;
    position:fixed;
    
    border-radius:50%;
    position:relative;

    background-color:#ff7979;

}

.circle button#close{
    transform:rotate(90deg);
    transform-origin: top left;
}


.circle button{
    color:#fafafa;
    cursor:pointer;
    background-color:transparent;
    position:absolute;
    top:50%;
    left:60%;
    border: 0;
    font-size:26px;
    height:100px;
}

.content{
    display:flex;
    flex-direction: column;
    padding-top:50px;
    background-color:#fafafa;
}

p,h3,h1{
    margin-bottom:10px;
}

img + p{
    margin-top:10px;
}

.nav{
    position: fixed;
    bottom:40px;
    left: 0;
    z-index: 100;
}

li.listItem{
    color:#fafafa;
    padding:2px;
}

li.listItem:hover{
    color:#ff7979;
    cursor:pointer;
}

i{
    padding:3px;
}