*{
    text-decoration: none;
    border:none;
    list-style: none;
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    background-color: #fafafa;
}

.circle-container{
    position:fixed;
    top:-100px;
    left:-100px;  
}

.circle{
    width:200px;
    height:200px;
    position:fixed;
    
    border-radius:200px;
    position:relative;

    background-color:#ff7979;

}
.circle button#close{
    transform:rotate(90deg);
    transform-origin: top left;
}


.circle button{
    color:white;
    cursor:pointer;
    background-color:transparent;
    position:absolute;
    top:50%;
    left:60%;
    border: 0;
    font-size:26px;
    height:100px;
}

.content{
    display:flex;
    flex-direction: column;
    margin: 6em 3em 5em 3em;
}

p,h3,h1{
    margin-bottom:10px;
}

img + p{
    margin-top:10px;
}