/*
padding of each image 
set flex for element when not active
set transition for active element 

*/

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,300&display=swap');

*{
    box-sizing: border-box;
    border-radius:50px;
    margin:0;

    font-family: 'Mulish', sans-serif;
    color:white;
}

html{
    height:100vh;
}

body{
    min-height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    display:flex;
    min-height:90vh;
    width:90vw;
}

.scrn{
    display:flex;
    flex-flow: column wrap;
    align-items:flex-start;
    justify-content:flex-end;
    flex:0.5;
    color:#fff;
    padding:5px;
}

.scrn h3{
    position:absolute;
    padding: 2%;
    word-break:break-all;
}

.scrn img{
    position:relative;
    max-width:100%;
    min-height:100%;
    object-fit:cover;
    transition: flex 0.7s ease-in;
    cursor:pointer;
}

/*when active the element grows to 5 transition when clicked */
img.active{
    visibility:hidden;
}