@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Rampart One', cursive;
    overflow:visible; 
}

body{
    min-height:100vh;
}

h1{
    font-size:2.5rem;
}

p{
    font-family:serif;
    text-transform:uppercase;
    font-size:1.5rem;
    font-weight:normal;
}

/*
1. Container with class active occupies the full height and width 
2. Each container is divided through the middle with img at the right and 

*/

/*General container*/
.container{
    min-height:100vh;
}

.container .slide{
    display:flex;
}

.container .slide > *{
    flex:1 1 100%;
}

.container .subContain {
    height: -100vh;
}

.container .slide .text{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    text-align:center;

    min-height:100vh;
    width:30%;
    padding: 50px;
    background-color:lightgrey;

    position:relative;
}

.container .slide .text .button{
    top:40%;
    margin-left:auto;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.container .slide .image{
    min-width:70%;
    position:relative;
}

.slide .image img{
    object-fit:cover;
    min-width:100%;
    min-height:100%;
}

.button{
    position:absolute;
    top:46%;
    left:0;
    right:0;
    bottom:0;
    z-index:999;
    width:62.8px;
    height:56.35px;
    padding: 0 20px 0 20px;
    border-style: none;
    color:rgba(0, 0, 0, 0.404);
}
.button p{
    font-size:2em;
}

.button:hover{
    cursor:pointer;
    color:rgb(0, 0, 0);
}

.image .button{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
